body{
    height: 768px;
    width: 1440px;
}
#cabecera{
    height: 90px;
    background-color: #ffffff;
    border-bottom: 2px solid #e6e6e6;
}
.cabecera{
    display: block ruby;
    margin-left: 253px;
}
#search{
    width: 216px;
    height: 27px;
    float: none;
    margin-left: 200px;
    border-radius: 6px;
}
#foto{
    height: 600px;
    width: 480px;
    margin-left: 314px;
    margin-top: 38px;
    margin-right: 0;
    border: 2px solid #e6e6e6;
}
#cuerpo{
    display: -webkit-inline-box;
}
.fotoPerfil{
    width: 40px;
    height: 40px;
}
#comentarios{
    margin-top: 38px;
    height: 600px;
    width: 336px;
    border: 2px solid #e6e6e6;
    border-left: none;
}
.autor{
    margin-top: 4px;
    padding-left: 10px;
}
.certificado{
    width: 12;
    height: 12;
}
.comentarios{
    display: ruby;
}
.profile{
    display:  ruby-text-container;
    font-size: 14px;
}
#lugar{
    padding-left: 10px;
}
#seguir{
    color: #4eb4f8;
}
#info{
    float: right;
    padding-right: 15px;
}
#perfil{
    width: 336px;
    height: 32px;
    padding-left: 10px;
    display: table-cell;
    border-bottom: 2px solid #e6e6e6;
    padding-top: 15px;
}
.pieFoto{
    width: 336px;
    height: 32px;
    padding-left: 10px;
    padding-top: 15px;
    display: table;
    margin-bottom: 165px;
}
#corazon{
    color: pink;
}
.fecha{
    margin-left: 60px;
    font-size: 12px;
    color: #dccac2;
}
.fecha p{
    margin: 0;
}
#mas{
    border: 2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    font-size: 23px;
}
#divMas{
        margin-top: 20px;
        margin-left: 163px;
}
#fotojenny{
    border-radius: 50%;
    margin-right: 6px;
}
#calibash{
    padding-left: 13px;
    font-size: 14px;
}
#jenny{
    margin-top: 30px;
}
#icono{
    width: 22px;
    height: 24px;
    margin-left: 177px;
    margin-top: 10px;
}
.iconos{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -25px;
}
#botones{
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}
#botones, p{
    font-size: 14px;
    margin-top: 0;
}
#dia{
    font-size: 10px;
    color: #dccac2;
}
#iniciaSesion{
    display: flex;
}
#iniciaSesion, p{
    margin-left: 3px;
}
#i{
    text-decoration: none;
    font-size: 14px;
}









body{
    margin: 0;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}