#fondo{
    width: 100%;
    height: 100%;
    background-image: url(multimedia/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cuerpo{
    margin-left: 28px;
    margin-top: 38px;
}
#titulo{
    border: 4px solid black;
    border-color: #ce111e;
    height: 8%;
    text-align: center;
    background-image: url(multimedia/estrellas.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#t{
    align-self: center;
    display: contents;
    color: #fffd06;
}
#resumen{
    background-image: url(multimedia/lava.jpg);
    height: 14%;
    border: 4px solid black;
    border-color: #ce111e;
    margin-top: 0.5%;
    padding: 0;
}
#resumen p{
    margin: 0;
    color: white;
}
.sinopsis{
    text-align: center;
    color: #fffd06;
}
#sinopsis{
    border: 4px solid black;
    border-color: #ce111e;
    margin-top: 1%;
    height: 51%;
    background-image: url(multimedia/estrellas.jpg);
}
#reparto{
    border: 4px solid black;
    border-color: #ce111e;
    margin-top: 1%;
    margin-left: 1%;
    width: 74%;
    height: 51%;
    color: white;
    background-image: url(multimedia/lava.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tablaReparto p{
    border: 2px solid black;
    border-color: white;
}
#actor{
    padding: 0;
    margin: 0;
}
#personaje{
    padding-top: 0;
    padding-left: 1px;
    margin: 0;
}
#actor p{    
    margin: 0;
    margin-bottom: 1px;
}
#personaje p{    
    margin: 0;
    margin-bottom: 1px;
}
#tituloReparto h3{
    margin: 0;
}
#fotoObi{
    margin-bottom: 1%;
}
.foto{
    width: 100%;
    height: 50%;
}
#fotos{
    padding: 0;
}
#recaudacion{
    height: 13%;
    margin-top: 1%;
    border: 4px solid black;
    border-color: #ce111e;
    background-image: url(multimedia/lava.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contenidoRecaudacion{
    color: white;
}
#textoRecaudacion{
    margin-bottom: 0;
}






body{
    margin: 0;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}